#box {
    border: 1px solid black;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#number {
    font-size: 42px;
}

#buttonBox {
    display: flex;
    align-items: center;
    padding: 5px;
    place-items: 10px;

}